port {{ master_port }}
cluster-enabled yes
daemonize yes
maxclients 100000
cluster-node-timeout 9000
cluster-require-full-coverage no
bind 0.0.0.0
protected-mode no
appendonly no
dir {{ redis_data_dir }}
dbfilename {{ inventory_hostname }}.rdb
cluster-config-file nodes-{{ inventory_hostname }}-{{ master_port }}.conf
logfile {{ redis_log_dir }}/{{ inventory_hostname }}__
cluster-rdma-allocator-shadow {{ "yes" if (rdma_allocator_shadow | default(false)) else "no" }}
cluster-rdma-allocator-skip-lock {{ "yes" if (rdma_allocator_skip_lock | default(false)) else "no" }}
save ""
