port {{ master_port }}
cluster-enabled yes
daemonize yes
maxclients 100000
cluster-node-timeout 9000
cluster-require-full-coverage no
bind 0.0.0.0
protected-mode no
appendonly no
logfile {{ redis_log_dir }}/{{ inventory_hostname }}__
